<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="cmon.ico">
	<title>Dashboard {{system.navigation.title}}</title>
	<link href="bootstrap.min.css" rel="stylesheet">
	<style>
	 h2 {
	   margin-left: 32px;
	 }
	 ul {
	   margin-top: 0px;
	 }
	 p {
	   margin-bottom: 0px;
	 }
	</style>
  </head>
  <body>
	<script src="bootstrap.bundle.min.js"></script>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
		<a class="navbar-brand" href="{{system.navigation.url}}" data-toggle="tooltip" data-placement="bottom" title="{{system.navigation.tooltip}}">{{system.navigation.title}}</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
			  <a class="nav-link active" href="index.html" data-toggle="tooltip" data-placement="bottom" title="Display results of test run">Dashboards</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="source.html" data-toggle="tooltip" data-placement="bottom" title="Show configuration file">Source</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="sysdes.html" data-toggle="tooltip" data-placement="bottom" title="Generate a system design diagram">System design</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="sysdessource.html" data-toggle="tooltip" data-placement="bottom" title="Show configuration file">System design source</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="result.html" data-toggle="tooltip" data-placement="bottom" title="Show result values">Result</a>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
	<h1>Source</h1>
{{source}}
<script>
  $(function () {
	$('[data-toggle="tooltip"]').tooltip()
  })
</script>
  </body>
</html>
